{% extends 'main/application.html' %}

{% block content %}
{% load utilities %}

<div class="row">
    <h2>Upload your data</h2>

    <form method="post" enctype="multipart/form-data" action="{% url 'complete' %}">
      {% csrf_token %}
      <div>
        <h3>Upload your data </h3>
          {% for file in files %}
          <div class="form-group">
            <label for="{% concatenate "taxonomy" file.id %}">Taxonomy</label>
            <textarea rows="3" class="form-control" id="{% concatenate "taxonomy" file.id %}" placeholder="Copy and Paste from uBiome page"></textarea>
          </div>
          <div class="form-group">
            <label for="{% concatenate "file_desc" file.id %}">Additional Description</label>
            <input type="text" class="form-control"
                name="{% concatenate "file_desc" file.id %}"
                id="{% concatenate "file_desc" file.id %}"
                placeholder="Optional Description (Sampling date/location etc.)">
          </div>
          <div class="form-group">
            <label for="{% concatenate "file" file.id %}">Sequence File</label>
            <input type="file" name="{% concatenate "file" file.id %}"
                 id="{% concatenate "file" file.id %}">
           </div>
          {% endfor %}
        </div>
      <input class="btn btn-primary" type="submit" value="Upload your data">
    </form>
    <p class="lead">
      A word of warning: <strong>This uploader does not work well for large files.</strong>
      If an upload takes longer than 30 seconds to finish the website
      will time out. In these cases <a href="{% url "index"%}">the use of the Javascript uploader</a> is preferred
      as it does not have this limitation.
    </p>
</div>
<div class="row">
    {{upload_description|markdown}}
</div>


{% endblock %}
